/*  Typography */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("https://rsms.me/inter/font-files/Inter-Regular.woff2?v=3.7")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Regular.woff?v=3.7")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-Medium.woff2?v=3.7")
      format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7")
      format("woff2"),
    url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?v=3.7")
      format("woff");
}

.icon {
  width: 32px;
  height: 32px;
  cursor: default;
  color: #000000;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.icon--blue {
  color: #18a0fb;
  background-position: 0 -64px;
}

.icon--black-3 {
  color: rgba(0, 0, 0, 0.3);
  background-position: 0 -32px;
}

.icon--button {
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  background-position: -2px -2px;
}

.icon--button:hover {
  background-color: rgba(0, 0, 0, 0.06);
}

.icon--button:active {
  border: 2px solid #18a0fb;
  background-color: rgba(0, 0, 0, 0.06);
}

.icon--button:disabled {
  opacity: 0.37;
}

.icon--trash {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20fill%3D%22none%22%20height%3D%2296%22%20viewBox%3D%220%200%2032%2096%22%20width%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22m15%209.5c-.5523%200-1%20.44772-1%201h4c0-.55228-.4477-1-1-1zm4%201c0-1.10457-.8954-2-2-2h-2c-1.1046%200-2%20.89543-2%202h-1.5-1.5v1h1v10c0%201.1046.8954%202%202%202h6c1.1046%200%202-.8954%202-2v-10h1v-1h-1.5zm1%201h-1.5-5-1.5v10c0%20.5523.4477%201%201%201h6c.5523%200%201-.4477%201-1zm-6%207v-4h1v4zm3%200v-4h1v4z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.8%22%2F%3E%3Cpath%20d%3D%22m15%2041.5c-.5523%200-1%20.4477-1%201h4c0-.5523-.4477-1-1-1zm4%201c0-1.1046-.8954-2-2-2h-2c-1.1046%200-2%20.8954-2%202h-1.5-1.5v1h1v10c0%201.1046.8954%202%202%202h6c1.1046%200%202-.8954%202-2v-10h1v-1h-1.5zm1%201h-1.5-5-1.5v10c0%20.5523.4477%201%201%201h6c.5523%200%201-.4477%201-1zm-6%207v-4h1v4zm3%200v-4h1v4z%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.3%22%2F%3E%3Cpath%20d%3D%22m15%2073.5c-.5523%200-1%20.4477-1%201h4c0-.5523-.4477-1-1-1zm4%201c0-1.1046-.8954-2-2-2h-2c-1.1046%200-2%20.8954-2%202h-1.5-1.5v1h1v10c0%201.1046.8954%202%202%202h6c1.1046%200%202-.8954%202-2v-10h1v-1h-1.5zm1%201h-1.5-5-1.5v10c0%20.5523.4477%201%201%201h6c.5523%200%201-.4477%201-1zm-6%207v-4h1v4zm3%200v-4h1v4z%22%20fill%3D%22%2318a0fb%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 32px;
  padding: 8px 4px 8px 8px;
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

/* Buttons */

.button {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 1px 0 1px 0;
  padding: 5px 16px 5px 16px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
}

.button--primary {
  color: #ffffff;
  background-color: #18a0fb;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.button--primary:active,
.button--primary:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.button--primary:disabled {
  background-color: rgba(0, 0, 0, 0.3);
}

.button--primary-destructive {
  color: #ffffff;
  background-color: #f24822;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.button--primary-destructive:active,
.button--primary-destructive:focus {
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.button--primary-destructive:disabled {
  opacity: 0.4;
}

.button--secondary {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.button--secondary:active,
.button--secondary:focus {
  padding: 4px 15px 4px 15px;
  border: 2px solid #18a0fb;
}

.button--secondary:disabled {
  color: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.button--secondary-destructive {
  color: #f24822;
  border: 1px solid #f24822;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
}

.button--secondary-destructive:active,
.button--secondary-destructive:focus {
  padding: 4px 15px 4px 15px;
  border: 2px solid #f24822;
}

.button--secondary-destructive:disabled {
  opacity: 0.4;
}

/* Input */

.input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 8px 4px 8px 7px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  background-color: #ffffff;
}

.input:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input:active,
.input:focus {
  padding: 8px 4px 8px 6px;
  color: #000000;
  border: 2px solid #18a0fb;
  border-radius: 2px;
}

.input::-moz-selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input::selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input:not(:disabled):not(:hover):placeholder-shown {
  background: linear-gradient(90deg, transparent 6px, rgba(0, 0, 0, 0.1) 0);
  background-repeat: repeat-x;
  background-position: left bottom -1px;
  background-size: calc(100% - 6px) 1px;
}

.input:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.input:disabled:hover {
  border: 1px solid transparent;
}

.input-icon {
  position: relative;
  width: 100%;
}

.input-icon__icon {
  position: absolute;
  top: -1px;
  left: 0;
  width: 32px;
  height: 32px;
}

.input-icon__input {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 8px 4px 8px 0;
  text-indent: 32px;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  background-color: #ffffff;
}

.input-icon__input:hover {
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.input-icon__input:active,
.input-icon__input:focus {
  margin-left: -1px;
  padding: 8px 4px 8px 0;
  color: #000000;
  border: 2px solid #18a0fb;
  border-radius: 2px;
}

.input-icon__input::-moz-selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input-icon__input::selection {
  color: #000000;
  background-color: rgba(24, 145, 251, 0.3);
}

.input-icon__input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-icon__input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-icon__input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-icon__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.input-icon__input:not(:disabled):not(:hover):placeholder-shown {
  background: linear-gradient(90deg, transparent 6px, rgba(0, 0, 0, 0.1) 0);
  background-repeat: repeat-x;
  background-position: left bottom -1px;
  background-size: calc(100% - 6px) 1px;
}

.input-icon__input:disabled {
  color: rgba(0, 0, 0, 0.3);
}

.input-icon__input:disabled:hover {
  border: 1px solid transparent;
}
