* {
  font: 12px "Inter";
}

body {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 8px 0 0;
}

.template-container {
  width: 35%;
  border-right: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px 0 8px 0;
}

.page-container {
  width: 65%;
  padding: 0.5rem 0 1rem 0.5rem;
}

/* field */

.field {
  display: flex;
  margin-bottom: 1rem;
}

.field .input {
  margin-right: 1rem;
}

/* options */

.option {
  padding: 0.85rem 0 0.85rem 1rem;
  margin-bottom: 0.25rem;
}

.option--selected {
  background: #daebf7;
}
/* footer */

.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e5e5e5;
  padding: 1rem 8px;
}

.footer button:first-child {
  margin-right: 0.5rem;
}
