* {
  font: 12px "Inter";
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body {
  margin: 0;
}

.text--lighter {
  color: #b3b3b3;
}

.container {
  display: flex;
  justify-content: space-between;
}

.container:not(.footer) {
  flex-grow: 1;
}

.template-container {
  width: 40%;
  border-right: 1px solid #e5e5e5;
  text-align: left;
  padding: 8px 0 8px 0;
}

.page-container {
  flex-grow: 1;
  padding: 0.5rem 0;
}

.pages {
  padding: 0 0.5rem;
}

.buttons-wrapper {
  display: flex;
}

/* field */

.field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.field > span {
  padding-left: 0.5rem;
}

.field .input {
  margin-right: 1rem;
}

.field .icon {
  display: block;
  visibility: hidden;
}

.field:hover .icon {
  visibility: visible;
}

/* options */

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  padding: 0.25rem 0.25rem 0.25rem 1rem;
  margin-bottom: 0.25rem;
}

.option span {
  cursor: default;
}

.option .icon {
  visibility: hidden;
}

.option:hover .icon {
  visibility: visible;
}

.option--selected {
  background: #daebf7;
}
/* footer */

.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #e5e5e5;
  padding: 1rem 8px;
}

.footer button:first-child {
  margin-right: 0.5rem;
}

.headtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.25rem 0 0.5rem;
  margin-bottom: 0.5rem;
}
